<a href="https://colab.research.google.com/github/AmitFriedman10/BI-Project/blob/main/%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98_%D7%91%D7%99%D7%A0%D7%94_%D7%A2%D7%A1%D7%A7%D7%99%D7%AA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import csv

In [ ]:
df = pd.read_csv("table1.csv")

In [ ]:
df.head()

,name,director,writer,star,country,budget,gross,company,runtime
0,The Shining,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [ ]:
class ETL:

    def __init__(self, source, destination, transform=None, mapping=None):
        self.source = source
        self.destination = destination
        self.transform = transform
        self.mapping = mapping

    def process(self):
        data = pd.read_csv(self.source)

        if self.transform is not None:
            data = self.transform(data)

        if self.mapping is not None:
            data = data.map(self.mapping)

        data.to_csv(self.destination, index=False)

    def add_source(self, source):
        self.source = source

    def add_destination(self, destination):
        self.destination = destination

    def add_transform(self, transform):
        self.transform = transform

    def add_mapping(self, mapping):
        self.mapping = mapping

In [ ]:
etl = ETL('table1.csv', 'destination.csv')

In [ ]:
etl.process()

In [ ]:
grouped = df.groupby(['name', 'budget'])

In [ ]:
aggregated = grouped.agg({'country': 'first','country': 'last'})